@import url("https://gazellegames.net/static/styles/game_room/style.css"); /* Main style from Gameroom */
@import url(https://gazellegames.net/static/styles/game_room/caticons.css); /* Category icons from Gameroom */
@import url(https://gazellegames.net/static/styles/game_room/webLinks.css); /* Weblink icons from Gameroom */

body {
  background-image: url("https://gazellegames.net/static/styles/game_room/images/gameseries/gumibkg.jpg");
}

#logo {
  background-image: url("https://gazellegames.net/static/styles/game_room/images/gameseries/touhoumusiclogo.png") !important;
  background-position: center !important;
  background-size: 39em !important;
}

#userinfo {
  background-color: rgba(57, 206, 239, 0.05);
}
