@import url("https://gazellegames.net/static/styles/game_room/style.css"); /* Main style from Gameroom */
@import url(https://gazellegames.net/static/styles/game_room/caticons.css); /* Category icons from Gameroom */
@import url(https://gazellegames.net/static/styles/game_room/webLinks.css); /* Weblink icons from Gameroom */

body {
  background-image: url("https://gazellegames.net/static/styles/game_room/images/gameseries/gumibkg.jpg");
}

#logo.power_logo,
#logo.power_logo2,
#logo.power_logo3 {
  background-image: url("https://gazellegames.net/static/styles/game_room/images/gameseries/touhoumusiclogo.png");
  background-position: center;
  background-size: 39em;
  border-bottom: transparent;
}

#userinfo {
  background-color: rgba(57, 206, 239, 0.05);
  border-bottom: transparent;
}

#menu {
  border-bottom: transparent;
  box-shadow: none;
}

@media only screen and (max-width: 800px) {
  #logo.power_logo,
  #logo.power_logo2,
  #logo.power_logo3 {
    background-image: url("https://gazellegames.net/static/styles/game_room/images/gameseries/touhoumusiclogo.png");
    background-position: center;
    background-size: 39em;
    border-bottom: transparent;
  }
}
